<h1>ACM Roster</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Classification</th>
	</tr>
	<% @members.each do |member| %>
		<% if member.name != 'admin'%>
			<tr>
				<td><%= member.fullName %></td>
				<td><%= member.classification %></td>
			</tr>
		<% end %>
	<% end %>
</table>