<h3>Welcome to the website of the Valdosta State University Association for Computing Machinery.</h3>
<br />
<br />
<%= image_tag('/images/group.jpg', :width => 800) %>
<br />
<%= image_tag('/images/picnic.jpg', :width => 800) %>
<br />
<%= image_tag('/images/lan.jpg', :width => 800) %>
