<h1>VSU ACM Events</h1>

<% @events.each do |event| %>
	<div class="entry" >
		<%= image_tag(event.icon, :size => "80x90") %> <h3><%= event.name %></h3>
		<%= event.eventTime %>
		<%= sanitize(event.description) %>
		
	</div>
<% end %>
